In [4]:
from collections import namedtuple
import pickle
import pandas as pd
from zillow_adapter import ask_zillow
from sklearn.ensemble import RandomForestRegressor


with open("final_df.pickle", "rb") as fp: 
    X_, y = pickle.load(fp)
    
def prep()
X = X_.drop(['zip5_encoded', 'city_encoded'], axis=1)

address, zipcode = "4565 White Rd, Pierson, MI", 49339
house = ask_zillow(address, zipcode)

print(X.shape)
inps = {feat: house.results.__dict__[feat] for feat in ('bedrooms', 'bathrooms', 'year_built')}


X.head()

(24773, 11)

,beds_total,roof_year,baths_lavs,year_built_bin,furnace_year,quartz_countertops,granite_countertops,formica_countertops,tile_countertops,laminate_floors,hardwood_floors
0,4,20,2.1,1999,20,0,1,0,0,0,0
3,5,23,3.0,1996,23,0,0,0,0,0,1
6,3,22,2.1,1997,22,0,1,0,0,0,0
10,4,27,3.0,1992,27,0,1,0,0,0,1
11,4,39,3.1,1980,39,0,0,0,0,0,1

In [12]:
#X.columns[5:]

X.assign(**)

pd.cut(X.roof_year, bins=[0,4,9,14,10000], labels=["0-4 years", "5-9 years", "10-14 years", "15+"])

pd.cut(X.furnace_year, bins=[0,4,9,14,10000], labels=["0-4 years", "5-9 years", "10-14 years", "15+"])

0                15+
3                15+
6                15+
10               15+
11               15+
12               15+
14               15+
17               15+
21               15+
22               15+
26               15+
27               15+
28               15+
29               15+
34               15+
37               15+
38               15+
40               15+
43               15+
50               15+
51       10-14 years
52               15+
54               15+
56               15+
57               15+
58               15+
65               15+
69               15+
71               15+
72               15+
            ...
54889            15+
54890            15+
54894            15+
54897            15+
54901            15+
54904            15+
54905            15+
54907    10-14 years
54908            15+
54914    10-14 years
54918      0-4 years
54922            15+
54923            15+
54924            15+
54925            15+
54926            15+
54928            15+
54929            15+
54931            15+
54932    10-14 years
54933            15+
54934            15+
54935            15+
54941            15+
54942            15+
54944            15+
54947            15+
54950      0-4 years
54952            15+
54953            15+
Name: furnace_year, Length: 24773, dtype: category
Categories (4, object): [0-4 years < 5-9 years < 10-14 years < 15+]

In [47]:
{feat: house.results.__dict__[feat] for feat in ('bedrooms', 'bathrooms', 'year_built')}

{'bedrooms': '3', 'bathrooms': '1.0', 'year_built': '1980'}

In [ ]:

# dog = pre.copy()

# dog.furnace_year = dog.furnace_year.replace({2019:0})

# bins = [0,5,10,15,2000]
# labels = ['0 to 4', '5 to 9', '10 to 14', '15+']

# dog['furnace_year_binned'] = pd.cut(dog['furnace_year'], 
#                                     bins, 
#                                     labels = labels, 
#                                     right=False,
#                                     include_lowest=True)

# dog['roof_year_binned'] = pd.cut(dog['roof_year'], 
#                                     bins, 
#                                     labels = labels, 
#                                     right=False,
#                                     include_lowest=True)

#from zillow_adapter import X

# zill_props = ['bathrooms',
#  'bedrooms',
#  'data',
#  'get_attr',
#  'graph_data_link',
#  'home_detail_link',
#  'home_size',
#  'home_type',
#  'last_sold_date',
#  'last_sold_price',
#  'last_sold_price_currency',
#  'latitude',
#  'longitude',
#  'map_this_home_link',
#  'property_size',
#  'tax_value',
#  'tax_year',
#  'year_built',]

# user_props = ['furnance_year', 'roof_year', 'countertops', 'kitchen_floor']

# X.results.__dict__

In [14]:
Home = namedtuple("Home", zill_props + ['countertops', 'roof_age'])

#Home([X.results.__dict__[feat] for feat in zill_props])

KeyError: 'get_attr'

In [3]:
help(namedtuple)

Help on function namedtuple in module collections:

namedtuple(typename, field_names, *, verbose=False, rename=False, module=None)
    Returns a new subclass of tuple with named fields.

    >>> Point = namedtuple('Point', ['x', 'y'])
    >>> Point.__doc__                   # docstring for the new class
    'Point(x, y)'
    >>> p = Point(11, y=22)             # instantiate with positional args or keywords
    >>> p[0] + p[1]                     # indexable like a plain tuple
    33
    >>> x, y = p                        # unpack like a regular tuple
    >>> x, y
    (11, 22)
    >>> p.x + p.y                       # fields also accessible by name
    33
    >>> d = p._asdict()                 # convert to a dictionary
    >>> d['x']
    11
    >>> Point(**d)                      # convert from a dictionary
    Point(x=11, y=22)
    >>> p._replace(x=100)               # _replace() is like str.replace() but targets named fields
    Point(x=100, y=22)

In [3]:
from zillow_adapter import X

X.results

In [7]:
from zillow_adapter import ask_zillow

print(ask_zillow("fish", 10223).results)

None